.about-page {
  --bg-primary: #0D0D0D;
  --bg-surface: #1A1A1A;
  --color-primary: #E24B4A;
  --color-danger: #732727;
  --color-text: #FFFFFF;
  --color-muted: #B3B3B3;

  background: var(--bg-primary);
  color: var(--color-text);

  min-height: 100vh;
}