.tech-grid {
  display: flex;

  flex-wrap: wrap;

  gap: 16px;

  justify-content: center;  
}

.stacks-section{
  padding-bottom: 4rem;
}

.tech-description {
/* Permite centralizar e aplicar margens verticais */
  display: block; 
  
  /* Centraliza o texto internamente */
  text-align: center; 
  
  /* Cria o espaçamento de 40px abaixo do texto (em direção às badges) */
  margin: -22px 254px 38px auto; 

   white-space: nowrap; 
}

.tech-badge {
  background: rgba(226, 75, 74, 0.1);

  border: 1px solid rgba(226, 75, 74, 0.3);

  padding: 12px 20px;

  border-radius: 999px;

  color: var(--color-primary);

  font-weight: 600;

  transition: 0.3s;
}

